*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;

  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  background: $color-4;
  color: $color-1;
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body > main {
  flex-grow: 1;
  padding-top: $layout-header-height;
}

body.thin > header,
body.thin > main,
body.thin > footer {
  padding: 0 calc(50% - #{$thin-width / 2})
}