$color-1: #FFBB00;
$color-2: scale-color($color-1, $lightness: -60%);
$color-3: scale-color($color-1, $lightness: -95%);
$color-4: #000000;

$font-family: 'VT323', monospace;
$font-size: 25px;
$line-height: 1;

$thin-width: 480px;


$layout-header-height: 2rem;
$layout-header-branding-width: 8rem;